<p id="notice"><%= notice %></p>

<p>
  <strong>Rows:</strong>
  <%= @airplane.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @airplane.columns %>
</p>

<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>

<button id='displaySeats'>See seating plan</button>

<div id='seatingChart' data-rows='<%= @airplane.rows %>' data-columns='<%= @airplane.columns %>'>
</div>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
